/* .App-header {
  background-color: blue;
  min-height: 10vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .dump-button {
  margin-right: 531px;
  margin-top: 30px;
}

.restore-button {
  margin-right: 250px;
  margin-top: 10px;
} */
